<div class="container">
  <div class="row" >
    <div class="col-lg-6 col-md-8"  style="background-color:#969696">
      <p>Estudiante:{{nombre}}</p>
      <p>Edad:{{edad}}</p>
      <p *ngIf="edad>=18">Es mayor de edad.</p>
     <p>Promedio:{{promedio}}</p>
     <p>
       <input type="text" [(ngModel)]="nombre"/>
     </p>
    </div>

  </div><br>
  <button class="btn btn-primary" (click)="promedioCalculo()">Calcular Promedio</button>
  <br><br>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nota</th>
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let x of notas; index as i">
          <th scope="row">{{ i + 1 }}</th>
          <td>{{x}}</td>
        </tr>
    </tbody>
  </table>
</div>


