<!--<div *ngIf="datos!=null; else espera">
  <table >
    <tr>
      <td>ID</td><td>PAIS</td><td>SIGLAS</td>
    </tr>
    <tr *ngFor="let i of datos">
      <td>{{i.PAIS_ID}}</td>
      <td>{{i.PAIS}}</td>
      <td>{{i.SIGLAS}}</td>

    </tr>
  </table>
</div>
  -->
<div *ngIf="datos!=null; else espera">
  <table >
    <tr>
      <td>ID</td><td>COD</td><td>DETALLE</td>
    </tr>
    <tr *ngFor="let i of datos; key as index">
       <td>{{i.ACT_ID}}</td>
      <td>{{i.ACT_CODIGO}}</td>
      <td>{{i.ACT_DETALLE}}</td>
    </tr>
  </table>
</div>
<ng-template #espera>Esperando datos...</ng-template>
<button (click)="postData()">Enviar</button>
